In [7]:
import pandas as pd

In [8]:
tabela = pd.read_csv('../../data/aulas/temperaturas.csv')

In [10]:
tabela.head(7)

   dia    clima  temperatura  vento  umidade
0  seg      sol        12.79     13       30
1  ter      sol        19.67     28       96
2  qua      sol        17.51     16       20
3  qui  nublado        14.44     11       22
4  sex    chuva        10.51     26       79
5  sab    chuva        11.07     27       62
6  dom      sol        17.50     20       10

In [11]:
tabela = pd.read_csv('../../data/aulas/temperaturas.csv', index_col=['dia'])
tabela.head(7)

       clima  temperatura  vento  umidade
dia
seg      sol        12.79     13       30
ter      sol        19.67     28       96
qua      sol        17.51     16       20
qui  nublado        14.44     11       22
sex    chuva        10.51     26       79
sab    chuva        11.07     27       62
dom      sol        17.50     20       10

In [12]:
tabela.iloc[4,:]

clima          chuva
temperatura    10.51
vento             26
umidade           79
Name: sex, dtype: object

In [13]:
tabela.iloc[4,1]

10.51

In [14]:
tabela.loc['sex','temperatura']

10.51

In [15]:
dias = ['seg', 'qui', 'dom']
info = ['clima', 'vento']

In [16]:
tabela.loc[dias, info]

       clima  vento
dia
seg      sol     13
qui  nublado     11
dom      sol     20

In [17]:
tabela.loc[dias, :]

       clima  temperatura  vento  umidade
dia
seg      sol        12.79     13       30
qui  nublado        14.44     11       22
dom      sol        17.50     20       10

In [19]:
tabela.loc['ter':'qui', ['temperatura', 'vento']]

     temperatura  vento
dia
ter        19.67     28
qua        17.51     16
qui        14.44     11

In [21]:
tabela.loc[tabela.umidade > 50,['clima']]

     clima
dia
ter    sol
sex  chuva
sab  chuva

In [24]:
tabela.loc[(tabela.umidade > 50) & (tabela.clima == 'chuva'),:]

     clima  temperatura  vento  umidade
dia
sex  chuva        10.51     26       79
sab  chuva        11.07     27       62

In [25]:
tabela.loc[(tabela.umidade > 50) | (tabela.clima == 'nublado'),:]

       clima  temperatura  vento  umidade
dia
ter      sol        19.67     28       96
qui  nublado        14.44     11       22
sex    chuva        10.51     26       79
sab    chuva        11.07     27       62

In [26]:
tabela.loc[(tabela.umidade > 50) & (tabela.clima == 'nublado'),:]

Empty DataFrame
Columns: [clima, temperatura, vento, umidade]
Index: []

In [27]:
tabela.loc[(tabela.umidade > 50) | (tabela.clima == 'nublado'),['temperatura', 'umidade']]

     temperatura  umidade
dia
ter        19.67       96
qui        14.44       22
sex        10.51       79
sab        11.07       62